* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table {
  border: 1px solid gray;
  border-collapse: collapse;
  text-align: center;
}
p {
  margin: 20px;
}
h2 {
  padding: 20px;
}
img {
  margin: 20px;
  width: 500px;
}
button {
  width: 100px;
  padding: 5px;
}
